@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-dark-900: #0a0a0a;
  --color-dark-800: #121212;
  --color-dark-700: #1c1c1c;
}

html,
body {
  background-color: #000;
  color: #fff;
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}